body {
  font-family: "Tahoma", "Verdana", sans-serif;
  background-color: #101010;
  color: /*#ECDBBA*/ white;
}

.textStyle1 {
	color: #808080;
}

.textStyle2 {
	font-weight: bold;
}

.textStyle3 {
	
	
}

.textStyle4 {
	
	
}

.textStyle5 {
	
	
	color: #808080;
}

.textStyle6 {
	
	
	font-weight: bold;
}

.textStyle7 {
	
	
}

.textStyle8 {
	
	
}

.textStyle9 {
	
	
}

.textStyle10 {
	
	
}

.textStyle11 {
	
	
}

.textStyle12 {
	
	
}

.textStyle13 {
	
	
}

.textStyle14 {
	
	
	font-weight: bold;
}

.textStyle15 {
	
	
	font-weight: bold;
}

.textStyle16 {
	
	
	font-weight: bold;
}

.textStyle17 {
	
	
}

.textStyle18 {
	
	
	font-weight: bold;
}

.textStyle19 {
	
	
	font-weight: bold;
}

.textStyle20 {
	
	
}

.textStyle21 {
	
	
}

.textStyle22 {
	
	
	font-weight: bold;
	color: #00aeef;
}

.textStyle23 {
	
	
	font-weight: bold;
}

.textStyle24 {
	font-family: 'AdobeMyungjoStd-Medium', Apple, sans-serif;
	
	color: #00aeef;
}

.textStyle25 {
	
	
}

.textStyle26 {
	
	
	font-weight: bold;
}

.textStyle27 {
	font-family: 'Apple Myungjo', Apple, sans-serif;
	
	color: #00aeef;
}

.textStyle28 {
	
	
	font-weight: bold;
}

.textStyle29 {
	
	
}

.textStyle30 {
	font-family: 'Apple Myungjo', Apple, sans-serif;
	
	color: #00aeef;
}

.textStyle31 {
	
	
}

.textStyle32 {
	
	
	font-style: italic;
}

.textStyle33 {
	
	
	font-weight: bold;
}

.textStyle34 {
	font-family: 'Apple Myungjo', Apple, sans-serif;
	
	color: #00aeef;
}

.textStyle35 {
	font-family: 'Apple Myungjo', Apple, sans-serif;
	
	color: #00aeef;
}

.textStyle36 {
	
	
}

.textStyle37 {
	font-family: 'AdobeMyungjoStd-Medium', Apple, sans-serif;
	
}

.textStyle38 {
	
	
	font-weight: bold;
	color: #00aeef;
}

.textStyle39 {
	font-family: 'AdobeMyungjoStd-Medium', Adobe, serif;
	
	color: #00aeef;
}

.textStyle40 {
	
	
}

.textStyle41 {
	font-family: 'AdobeMyungjoStd-Medium', Adobe, serif;
	color:  #cd6155 ;
}

.textStyle42 {
	font-family: 'AdobeMyungjoStd-Medium', Adobe, serif;
	
	color: #7FC8A9; /* #00aeef; */
}

/* example translation, hanja translation */
.textStyle43 {
	
	/*font-size: 100%;*/
	/*font-style: italic;*/
  font-size: smaller;
  color: lightgray;
}

.textStyle44 {
	
	
	font-weight: bold;
}

.textStyle45 {
	
	font-size: small;
  color: gray;
}

/* hangul romanization, not needed */
.textStyle46 {
	
	
	font-weight: bold;
	display: none;
}

.textStyle47 {

}

.textStyle48 {
	
	
	font-style: italic;
}

.textStyle49 {
	
	
	font-weight: bold;
	color: #00aeef;
}

.textStyle50 {
	
	
	font-weight: bold;
	color: #00aeef;
}

.textStyle51 {
	
	
}

.textStyle52 {
	
	
}

/* romanization in header, not needed */
.textStyle53 {
	
	
	font-weight: bold;
	color: #00aeef;
	display: none;
}

/* hangul, header */
.textStyle54 {
	font-family: 'AdobeMyungjoStd-Medium', Adobe, serif;
	font-size: large;
	color: #C84B31; /* #00aeef; */
	font-weight: 500;
}

.textStyle55 {
	
	
	font-weight: bold;
	color: #00aeef;
}

.textStyle56 {
	
	
	font-weight: bold;
	color: wheat;
}

/* idioms, romanization */
.textStyle57 {
	
	
	font-weight: bold;
	color: #00aeef;
	display: none;
}

.textStyle58 {
	
	
	color: #00aeef;
}

.textStyle59 {
	
	
	font-weight: bold;
}

.textStyle61 {
	
	
	font-weight: bold;
	font-style: italic;
}

.textStyle63 {
	
	
	font-style: italic;
	color: #00aeef;
}


/*
@font-face { 
font-family: "AdobeMyungjoStd-Medium"; 
font-weight: normal; 
font-style: normal; 
src: 
     url(../Fonts/AdobeMyungjoStd-Medium.ttf), local("Verdana");
} 
*/

div.side-margin{margin-left: 1em; margin-right: 1em; text-align: justify; line-height: 1;}

 .indentedpara {
  display: block;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-indent: 1.5em
  }

 .indentedpara1 {
  display: block;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 0em
  }
 .indentedpara2 {
  display: block;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0em;
  text-indent: 0em
  }
 .ip2 {
  display: block;
  margin-bottom: 0em;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0em;
  text-indent: 0em
  } 
 .ip22 {
  display: block;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0em;
  text-indent: 0em
  } 
 .ip23 {
  display: block;
  margin-bottom: 1em;
  margin-left: 4.5em;
  margin-right: 0;
  margin-top: 0em;
  text-indent: 0em
  } 
  .ip1 {
  display: block;
  margin-bottom: 0em;
  margin-left: 1.5em;
  margin-right: 0;
  margin-top: 0em;
  text-indent: 0em
  }

 .ipara2 {
  display: block;
  margin-bottom: 0em;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 0em
  } 
  .ipara1 {
  display: block;
  margin-bottom: 0em;
  margin-left: 1.5em;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 0em
  }
 .indentedpara11 {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 0em
  }

.rsq {
  display: block;
  margin-bottom: 0em;
  margin-top: 0em;
  margin-left: 1.5em;
  margin-right: 0;
  text-indent: -1.5em
  }

.revindentedpara {
  display: block;
  margin-bottom: 0em;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-right: 0;
  text-indent: -1.5em
  }
.revindentedparax {
  display: block;
  margin-bottom: 0em;
  margin-top: 0em;
  margin-left: 2em;
  margin-right: 0;
  text-indent: 0em
  }


.rv1 {
  display: block;
  margin-bottom: 0em;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-right: 0;
  text-indent: -1.5em
  }
.rv2 {
  display: block;
  margin-bottom: 0em;
  margin-top: 0.5em;
  margin-left: 3em;
  margin-right: 0;
  text-indent: -1.5em
  }


.rrr1 {
  display: block;
  margin-bottom: 0em;
  margin-top: 0em;
  margin-left: 2.5em;
  margin-right: 0;
  text-indent: -1.5em
  }

.rr11 {
  display: block;
  margin-bottom: 0em;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 0;
  text-indent: -2.2em
  }
.rrr2 {
  display: block;
  margin-bottom: 0em;
  margin-top: 0em;
  margin-left: 3em;
  margin-right: 0;
  text-indent: -1.5em
  }
.center1 {text-align: center;}
.rgt {text-align: right;}



.flt{float: left; margin-right: 1em;}
.frt{float: right; margin-left: 1em;}
div.bx1{background-color: #e7e7e8; margin-bottom: 0.50em; margin-top: 1em; padding-left: 0.50em; padding-right: 0.50em; padding-top: 0.50em; padding-bottom: 0.50em;}

.nbx1{background-color: #171718; margin-bottom: 0.50em; margin-top: 1em; padding-left: 0.50em; padding-right: 0.50em; padding-top: 0.50em; padding-bottom: 0.50em; margin-left: 1.5em;}

.bx{border-bottom: solid 1px; margin-top: 5em;  margin-bottom: 0em; width: 50%;}

.hh1{ text-align: left; margin-top: 4em; margin-bottom: 3em; }


.head1{ text-align: center; margin-top: 4em; margin-bottom: 3em; }

sup.stx{font-size: 60%;}

.backToIndex {
  margin: 1em 1em;
  text-align: center ;
}